@{
    ViewData["Title"] = "Heart";
}

<div class="text-center align-content-center">
    <div id="toWomensDay">
        @Html.ActionLink("Click me", "WomensDay", "Home")
    </div>

    <div id="heart" class="heart"></div>
</div>