@{
    ViewData["Title"] = "Simple Flower";
}

<div class="text-center align-content-center">
    <div id="area"></div>
    <div id="label"></div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(() => {
            document.documentElement.style.setProperty('--elem-size', `${size}px`);
            generateAllElements(birdWithFlower, simpleMoveEvent, { display: 'none' });
        });

        const size = 30;
        const topFlower = 200;
        const leftFlower = 20;

        const flowerColors = {
            light: 'yellow',
            medium: 'red',
            dark: 'black'
        };

        const birdColors = {
            light: 'yellow',
            medium: 'red',
            dark: 'black'
        };

        let birdWithFlower = [].concat(
            rightTriangle({
                top: topFlower,
                left: leftFlower,
                blockSize: size,
                triangleSize: 3,
                triangleRev: 1,
                rev: [1, 2, 3, 4],
                colors: flowerColors
            }),

            rightTriangle({
                top: topFlower,
                left: leftFlower + 4 * size,
                blockSize: size,
                triangleSize: 3,
                triangleRev: 2,
                rev: [1, 2, 3, 4],
                colors: flowerColors
            }),

            rightTriangle({
                top: topFlower,
                left: leftFlower + 8 * size,
                blockSize: size,
                triangleSize: 3,
                triangleRev: 3,
                rev: [1, 2, 3, 4],
                colors: flowerColors
            }),

            rightTriangle({
                top: topFlower,
                left: leftFlower + 12 * size,
                blockSize: size,
                triangleSize: 3,
                triangleRev: 4,
                rev: [1, 2, 3, 4],
                colors: flowerColors
            }),
            //flower(topFlower, leftFlower, [1, 2, 3, 4], flowerColors),
            //bird(topFlower, leftFlower, [1, 2, 3, 4], birdColors)
        );
    </script>
}