@{
    ViewData["Title"] = "Women's Day";
}

<div class="text-center align-content-center">
    <div id="area"></div>
    <div id="label"></div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(() => {
            document.documentElement.style.setProperty('--elem-size', `${size}px`);
            generateAllElements(fromPattern, createOnMouseEnter, undefined, allReady);
        })

        const topS8marta = 500;
        const leftS8marta = 20;
        const size = 30;

        const topSamyiuKrasivyiu = 100;
        const leftSamyiuKrasivyiu = 20;

        let samyiuKrasivyiu = [];

        let mama = [];

        let pattern = [
            [2, 2, 2,  0, 0,  2, 2, 2,  0, 0,  2, 0, 0, 0, 2,  0,  0, 2, 0, 0, 2, 2, 2,  0,  2, 2, 2,  0,  0, 2, 0],
            [2, 0, 0,  0, 0,  2, 0, 2,  0, 0,  2, 2, 0, 2, 2,  0,  2, 2, 2, 0, 2, 0, 2,  0,  0, 2, 0,  0,  2, 2, 2],
            [2, 0, 0,  0, 0,  2, 2, 2,  0, 0,  2, 2, 2, 2, 2,  0,  2, 0, 2, 0, 2, 2, 2,  0,  0, 2, 0,  0,  2, 0, 2],
            [2, 0, 0,  0, 0,  2, 0, 2,  0, 0,  2, 0, 2, 0, 2,  0,  2, 2, 2, 0, 2, 0, 0,  0,  0, 2, 0,  0,  2, 2, 2],
            [2, 2, 2,  0, 0,  2, 2, 2,  0, 0,  2, 0, 0, 0, 2,  0,  2, 0, 2, 0, 2, 0, 0,  0,  0, 2, 0,  0,  2, 0, 2]
        ]

        let fromPattern = usePattern(pattern,
            {
                top: topS8marta,
                left: leftS8marta,
                rev: Direction.All,
                size: size
            });

        function allReady() {
            //generateAllElements(samyiuKrasivyiu, createOnTimeEvent, { display: 'none' });
            //setTimeout(zoomOutMobile, 3000);
        }
    </script>
}